body {
  margin: 0;
  padding: 0;
  background-color: greenyellow;
  font-family: arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 600px;
  padding: 120px;
  border-radius: 10px;
  margin-top: 30px;
}

h1 {
  margin-top: 20px;
}

ul {
  padding-left: 10px;
}
