body {
  margin: 0px;
  padding: 0;
}

/*************************
2026.02.20 yoonsj add
- header
**************************/
a:link {
  text-decoration: none;
}

.logo {
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}

nav {
  width: 100%;
  padding: 0 200px;
  display: flex;
}

header {
  background-color: #1967d6;
  width: 100%;
  top: 0;
  position: sticky;
  height: 70px;
  display: flex;
  align-items: center;
}

/*************************
2026.02.20 yoonsj add
- body
**************************/

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 80px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  gap: 24px;
  max-width: 900px;
  min-height: 580px;
  border-radius: 10px;
  padding: 20px;
}

.title {
  font-size: 40px;
  font-weight: 600;
}

h1,
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  border-left: 4px solid var(--primary200);
  padding: 0 12px;
  font-size: 1.25rem;
  font-weight: 700;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
